<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sftp" connectionString="host=ftp.aliph.com;user=joy_wang;password=Thk22$z;port=22;hostkey=ssh-rsa 2048 5a:0f:c5:4a:44:b4:96:d0:d0:1c:8f:7b:c3:29:ca:c5;"/>
  </connectionStrings>
  
  <!--请谨慎修改,避免出错-->
  <appSettings>
    <!--定时器时间设置：Shour》时:Sminute》分：Ssecod》秒-->
    <add key="Shour" value="0"/>
    <add key="Sminute" value="5"/>
    <add key="Ssecod" value="0"/>
    
    <!--Test Account:joy_wang	Psd : Thk22$z,Other:jeffrey_liu,310LRv!!,ssh-rsa 2048 5a:0f:c5:4a:44:b4:96:d0:d0:1c:8f:7b:c3:29:ca:c5-->
    <add key="sftpServerIP" value="ftp.aliph.com"/>
    <add key="sftpUserID" value="joy_wang"/>
    <add key="sftpPassword" value="Thk22$z"/>
    <add key="sftpPort" value="22"/>
    <add key="sftpHostKey" value="ssh-rsa 2048 5a:0f:c5:4a:44:b4:96:d0:d0:1c:8f:7b:c3:29:ca:c5"/>

    <add key="sftpLogPath" value="D:\SFTP Test"/>
    <add key="sftpBackup" value="D:\Test\SendBackup"/>

    <add key="SshPrivateKeyPassphrase" value=""/>
    <add key="SshPrivateKeyPath" value=""/>
    <add key="TimeoutInMilliseconds" value=""/>

    <add key="TlsHostCertificateFingerprint" value=""/>

    <!--Test:D:\Test\Send Product:\\SZHSQL01\JawBone\Send-->
    <add key="sFromPath" value="D:\Test\Send"/>

    <!--Test:/Jabil_Testing, Product:Jabil_SZ-->
    <add key="sToPath" value="/Jabil_Testing"/>
  </appSettings>
<startup>
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
