<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sftp" connectionString="host=;user=joy_wang;password=;port=22;hostkey=;"/>
  </connectionStrings>

  <!--请谨慎修改,避免出错-->
  <appSettings>
    <!--定时器时间设置：Shour》时:Sminute》分：Ssecod》秒-->
    <add key="Shour" value="0"/>
    <add key="Sminute" value="5"/>
    <add key="Ssecod" value="0"/>


    <add key="sftpServerIP" value=""/>
    <add key="sftpUserID" value="joy_wang"/>
    <add key="sftpPassword" value=""/>
    <add key="sftpPort" value="22"/>
    <add key="sftpHostKey" value=""/>

    <add key="sftpLogPath" value="D:\SFTP Test"/>
    <add key="sftpBackup" value="D:\Test\SendBackup"/>

    <add key="SshPrivateKeyPassphrase" value=""/>
    <add key="SshPrivateKeyPath" value=""/>
    <add key="TimeoutInMilliseconds" value=""/>

    <add key="TlsHostCertificateFingerprint" value=""/>


    <add key="sFromPath" value="D:\Test\Send"/>


    <add key="sToPath" value="/Jabil_Testing"/>
  </appSettings>
  
</configuration>