<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sftp" connectionString="host=;user=joy_wang;password=;port=22;hostkey=;"/>
  </connectionStrings>
  <appSettings>
   
    <add key="sftpServerIP" value=""/>
    <add key="sftpUserID" value="joy_wang"/>
    <add key="sftpPassword" value=""/>
    <add key="sftpPort" value="22"/>
    <add key="sftpHostKey" value=""/>

    <add key="sftpLogPath" value="D:\SFTP Test"/>
    <add key="sftpBackup" value="D:\Test\SendBackup" />

    <add key="SshPrivateKeyPassphrase" value=""/>
    <add key="SshPrivateKeyPath" value=""/>
    <add key="TimeoutInMilliseconds" value=""/>

    <add key="TlsHostCertificateFingerprint" value=""/>

    <!--Test:D:\Test\Send Product:\\SZHSQL01\JawBone\Send-->
    <add key="sFromPath" value="D:\Test\Send\"/>

    <!--Test:/Jabil_Testing, Product:Jabil_SZ-->
    <add key="sToPath" value="/Jabil_Testing"/>
  </appSettings>
</configuration>